In [6]:
import pandas as pd
mydata = pd.read_csv('train.csv', header=None)
print(mydata.tail())

      0  1  2                                         3       4    5  6  7   \
887  887  0  2                     Montvila, Rev. Juozas    male   27  0  0
888  888  1  1              Graham, Miss. Margaret Edith  female   19  0  0
889  889  0  3  Johnston, Miss. Catherine Helen "Carrie"  female  NaN  1  2
890  890  1  1                     Behr, Mr. Karl Howell    male   26  0  0
891  891  0  3                       Dooley, Mr. Patrick    male   32  0  0

             8      9     10 11
887      211536     13   NaN  S
888      112053     30   B42  S
889  W./C. 6607  23.45   NaN  S
890      111369     30  C148  C
891      370376   7.75   NaN  Q